<p>Nombre: {{nombre}} {{apellido}}</p>
<p>Edad: {{getEdad()}}</p>
<p>Enterprise: {{empresa}}</p>

<!-- Enter enterprise: <input type="text" #enterprise (keyup)="0" [disabled] = "enableInput"> this is weirder -->

Enter enterprise: <input type="text" [(ngModel)]="empresa">

<br/>
<br/>
<!-- <input type="button" value="GO!" (click)="getEnterprise(enterprise.value)"> -->
{{registerText}}
<br/>
Registered: <input type="radio" name="isRegistered"  (click)="setIsRegistered($event)" value="0">
UnRegistered: <input type="radio" name="isRegistered" (click)="setIsRegistered($event)" value="1">

<!-- {{setIsRegistered()}} -->